<p>
	<%= render 'projects' %>
</p>
<p>
	<div id="projectBtnDiv">
		<input type="button" value="+ project" id="project-btn" class="project-btn"/>
	</div>
</p>
<p>
	<div class='cn'>
		<div id="todoDiv" class='truefont'>
			<%= render 'newtodoform' %>
		</div>
	</div>
</p>
