<p>
	<%= render 'projects' %>
</p>
<p>
	<div id="projectBtnDiv">
		<input type="button" value="+ project" id="project-btn" class="project-btn"/>
	</div>
	<div id="projectDiv">
		<%= render 'newform' %>
	</div>
</p>
<p>
	<div id="todoBtnDiv">
		<input type="button" value="+ todo" id="todo-btn" class="todo-btn"/>
	</div>
	<div id="todoDiv">
		<%= render 'newtodoform' %>
	</div>
</p>
