<li>
<%= form_with xml: @projects, local: true, id: 'checkBoxForm' do |form| %>
	<div id='TodoDiv'>
		<% if todo.isCompleted == true %>
			<input type="checkbox" class='icheck-me' data-skin="square" data-color="blue" checked>
			<div id='TodoTextDiv' class='todoTextDiv strikeClass' ><%= todo.text %></div>
		<% else %>
			<input type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
			<div id='TodoTextDiv' class='todoTextDiv'><%= todo.text %></div>
		<% end %>
	</div>
<% end %>
</li>