/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require icheck/square/blue
 *= require select2
 */

@font-face {
	font-family: 'Truefont';
	src:font-url('truefont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMono';
	src:font-url('RobotoMono-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.truefont {
	font-family: 'RobotoMono';
	font-size: 16px;
}

body {
	background-color: rgb(248, 248, 248);
}

hr {
	border: none;
	background-color: rgb(249, 249, 249);
	color: rgb(249, 249, 249);
	height: 2px;
}

#AlertDiv {
    top:0;
    left:0;
    width:100%;
    height:90px;
    color:white;
    position: fixed;
    text-align:center;
	background-color: #00b0dd;
	z-index: 9999;
	-webkit-box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
}

#AlertDiv h1 {
    margin:auto;
	line-height:90px;
	vertical-align:middle;
	display: inline-block;
}

#AlertDiv a {
	color: white;
	font-size: 45px;
	position: absolute;
	text-decoration: none;
	cursor: default;
	right: 35px;
    line-height:90px;
	vertical-align: middle;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0);
}

#BoxMain {
	position: absolute;
	top: 90px;
	left: 0px;
	margin: 2em;
}

#BoxDiv {
	-webkit-box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	margin: 1em;
	width: 410px;
	display: inline-block;
	background-color: white;
	vertical-align: top;
}

#BoxDiv h2 {
	margin: 1em;
	font-size: 15px;
	color: rgb(70, 70, 75)
}

#TodoDiv {
	margin: 1em;
}

#BoxDiv li {
	list-style-type: none;
	position: relative;
	margin: 1em;
	margin-bottom: 2em;
	margin-top: 2em;
	left: -30px;
	display: block;
	white-space: nowrap;
}

#TodoDiv input {
	display: inline-block;
	margin-right: 1em;
	position: relative;
	vertical-align: middle;
}

#TodoTextDiv {
	display: inline-block;
	margin-left: 1em;
	white-space: normal;
	font-size: 15px;
	vertical-align: middle;
}

.cn {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	justify-content: center;
  	width: 100%;
 	height: 100%;
	background: rgba(200,200,200,0.5);
	z-index: 3;  
}

#todoDiv {
	-webkit-box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 9px -7px rgba(0,0,0,0.75);
	width: 410px;
	background-color: white;
	z-index: 3;
	align-self: center;
}

#todoDiv h2 {
	margin: 1em;
	font-size: 15px;
	color: rgb(70, 70, 75)
}

#todoDiv input {
	font-family: 'RobotoMono';
	text-align: left;
	padding: 0 20px;
	margin-left: 1em; 
	width: 83%;
	height: 40px;
	font-size: 14px;
}

#todoActions {
	margin-left: 0.9em;
	margin-bottom: 1em;
	white-space: nowrap;
}

#cancelTodo {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 187px;
	height: 40px;
	margin-left: 1px; 
	background-color: gray;
}

#cancelTodo a{
	position: relative;
	top: 12px;
	color: white;
	text-decoration: none;
	cursor: default;
	background-color: rgba(0, 0, 0, 0);
}

#okTodo {
	position: relative;
	width: 187px;
	height: 40px;
	text-align: center;
	display: inline-block;
	background-color: #00b0dd;
}

#okTodo a {
	position: relative;
	top: 12px;
	color: white;
	text-decoration: none;
	cursor: default;
	background-color: rgba(0, 0, 0, 0);
}

.select2-selection, .select2-selection__rendered, .select2-selection__arrow {
	font-family: 'RobotoMono';
	height: 40px !important;
	span {
		line-height: 40px !important;
		text-align: left;
	}
	width: 384px;
	margin-left: 1.1em;
	z-index: 4;
 }
 
 .select2-selection {
	font-family: 'RobotoMono';
	border-radius: 0 !important;
	margin-left: 1.1em;
	width: 384px;
	z-index: 4;
 }